In [7]:
import pymysql
import sqlalchemy as sqla
import pandas as pd
import numpy as np
import ipynb_importer
import queryUtils
from datetime import datetime

In [8]:
tournament_page_name = 'Italy - Serie A'
tournament_match_name = queryUtils.tournamentPage2Match(tournament_page_name)

In [9]:
tournament_teams = queryUtils.list_latest_special_date_tournament_teams(tournament_match_name,datetime.now())

In [10]:
tournament_teams

,id,tournament,date,no,team_name,team_link,team_id,played,win,draw,loss,goals_for,goals_against,goals_difference,points,sdate
0,18979,Serie A,2019-09-05,1,Inter,https://www.whoscored.com/Teams/75/Show/Italy-...,75,2,2,0,0,6,1,5,6,05-09-2019
1,18980,Serie A,2019-09-05,2,Torino,https://www.whoscored.com/Teams/72/Show/Italy-...,72,2,2,0,0,5,3,2,6,05-09-2019
2,18981,Serie A,2019-09-05,3,Juventus,https://www.whoscored.com/Teams/87/Show/Italy-...,87,2,2,0,0,5,3,2,6,05-09-2019
3,18982,Serie A,2019-09-05,4,Bologna,https://www.whoscored.com/Teams/71/Show/Italy-...,71,2,1,1,0,2,1,1,4,05-09-2019
4,18983,Serie A,2019-09-05,5,Verona,https://www.whoscored.com/Teams/76/Show/Italy-...,76,2,1,1,0,2,1,1,4,05-09-2019
5,18984,Serie A,2019-09-05,6,Lazio,https://www.whoscored.com/Teams/77/Show/Italy-...,77,2,1,1,0,4,1,3,4,05-09-2019
6,18985,Serie A,2019-09-05,7,Genoa,https://www.whoscored.com/Teams/278/Show/Italy...,278,2,1,1,0,5,4,1,4,05-09-2019
7,18986,Serie A,2019-09-05,8,Parma Calcio 1913,https://www.whoscored.com/Teams/24341/Show/Ita...,24341,2,1,0,1,3,2,1,3,05-09-2019
8,18987,Serie A,2019-09-05,9,AC Milan,https://www.whoscored.com/Teams/80/Show/Italy-...,80,2,1,0,1,1,1,0,3,05-09-2019
9,18988,Serie A,2019-09-05,10,Udinese,https://www.whoscored.com/Teams/86/Show/Italy-...,86,2,1,0,1,2,3,-1,3,05-09-2019
10,18989,Serie A,2019-09-05,11,Brescia,https://www.whoscored.com/Teams/144/Show/Italy...,144,2,1,0,1,1,1,0,3,05-09-2019
11,18990,Serie A,2019-09-05,12,Sassuolo,https://www.whoscored.com/Teams/2889/Show/Ital...,2889,2,1,0,1,5,3,2,3,05-09-2019
12,18991,Serie A,2019-09-05,13,Napoli,https://www.whoscored.com/Teams/276/Show/Italy...,276,2,1,0,1,7,7,0,3,05-09-2019
13,18992,Serie A,2019-09-05,14,Atalanta,https://www.whoscored.com/Teams/300/Show/Italy...,300,2,1,0,1,5,5,0,3,05-09-2019
14,18993,Serie A,2019-09-05,15,Roma,https://www.whoscored.com/Teams/84/Show/Italy-...,84,2,0,2,0,4,4,0,2,05-09-2019
15,18994,Serie A,2019-09-05,16,Fiorentina,https://www.whoscored.com/Teams/73/Show/Italy-...,73,2,0,0,2,4,6,-2,0,05-09-2019
16,18995,Serie A,2019-09-05,17,SPAL 2013,https://www.whoscored.com/Teams/1502/Show/Ital...,1502,2,0,0,2,2,4,-2,0,05-09-2019
17,18996,Serie A,2019-09-05,18,Cagliari,https://www.whoscored.com/Teams/78/Show/Italy-...,78,2,0,0,2,1,3,-2,0,05-09-2019
18,18997,Serie A,2019-09-05,19,Lecce,https://www.whoscored.com/Teams/79/Show/Italy-...,79,2,0,0,2,0,5,-5,0,05-09-2019
19,18998,Serie A,2019-09-05,20,Sampdoria,https://www.whoscored.com/Teams/271/Show/Italy...,271,2,0,0,2,1,7,-6,0,05-09-2019

In [11]:
whole_matches = queryUtils.list_all_tournament_matches_since_qdate(tournament_match_name,queryUtils.beforeXmonth(6))

In [12]:
whole_matches.head()

,match_id,tournament,date,home_team_id,home_team_name,away_team_id,away_team_name,full_time_home_goals,full_time_away_goals,half_time_home_goals,half_time_away_goals,result,sdate
0,1415711,Serie A,2019-09-01,2889,Sassuolo,271,Sampdoria,4,1,None,None,L,01-09-2019
1,1415709,Serie A,2019-09-01,79,Lecce,76,Verona,0,1,None,None,L,01-09-2019
2,1415708,Serie A,2019-09-01,77,Lazio,84,Roma,1,1,None,None,D,01-09-2019
3,1415706,Serie A,2019-09-01,278,Genoa,73,Fiorentina,2,1,None,None,W,01-09-2019
4,1415705,Serie A,2019-09-01,78,Cagliari,75,Inter,1,2,None,None,W,01-09-2019

In [13]:
matchespd = whole_matches.iloc[:,[0,1,2,3,5,7,8,11,12]]

In [14]:
matchespd.head()

,match_id,tournament,date,home_team_id,away_team_id,full_time_home_goals,full_time_away_goals,result,sdate
0,1415711,Serie A,2019-09-01,2889,271,4,1,L,01-09-2019
1,1415709,Serie A,2019-09-01,79,76,0,1,L,01-09-2019
2,1415708,Serie A,2019-09-01,77,84,1,1,D,01-09-2019
3,1415706,Serie A,2019-09-01,278,73,2,1,W,01-09-2019
4,1415705,Serie A,2019-09-01,78,75,1,2,W,01-09-2019

In [15]:
for match in matchespd.values:
    print(match)

[1415711 'Serie A' datetime.date(2019, 9, 1) 2889 271 4 1 'L' '01-09-2019']
[1415709 'Serie A' datetime.date(2019, 9, 1) 79 76 0 1 'L' '01-09-2019']
[1415708 'Serie A' datetime.date(2019, 9, 1) 77 84 1 1 'D' '01-09-2019']
[1415706 'Serie A' datetime.date(2019, 9, 1) 278 73 2 1 'W' '01-09-2019']
[1415705 'Serie A' datetime.date(2019, 9, 1) 78 75 1 2 'W' '01-09-2019']
[1415703 'Serie A' datetime.date(2019, 9, 1) 300 72 2 3 'L' '01-09-2019']
[1415712 'Serie A' datetime.date(2019, 9, 1) 86 24341 1 3 'W' '01-09-2019']
[1415710 'Serie A' datetime.date(2019, 8, 31) 80 144 1 0 'W' '31-08-2019']
[1415707 'Serie A' datetime.date(2019, 8, 31) 87 276 4 3 'L' '31-08-2019']
[1415704 'Serie A' datetime.date(2019, 8, 30) 71 1502 1 0 'W' '30-08-2019']
[1415696 'Serie A' datetime.date(2019, 8, 26) 75 79 4 0 'L' '26-08-2019']
[1415695 'Serie A' datetime.date(2019, 8, 25) 76 71 1 1 'D' '25-08-2019']
[1415702 'Serie A' datetime.date(2019, 8, 25) 86 80 1 0 'L' '25-08-2019']
[1415701 'Serie A' datetime.date(2019, 8, 25) 72 2889 2 1 'L' '25-08-2019']
[1415700 'Serie A' datetime.date(2019, 8, 25) 1502 300 2 3 'W'
 '25-08-2019']
[1415699 'Serie A' datetime.date(2019, 8, 25) 271 77 0 3 'L' '25-08-2019']
[1415698 'Serie A' datetime.date(2019, 8, 25) 84 278 3 3 'D' '25-08-2019']
[1415693 'Serie A' datetime.date(2019, 8, 25) 78 144 0 1 'W' '25-08-2019']
[1415697 'Serie A' datetime.date(2019, 8, 24) 24341 87 0 1 'L'
 '24-08-2019']
[1415694 'Serie A' datetime.date(2019, 8, 24) 73 276 3 4 'W' '24-08-2019']
[1318034 'Serie A' datetime.date(2019, 5, 26) 72 77 3 1 'L' '26-05-2019']
[1318033 'Serie A' datetime.date(2019, 5, 26) 1502 80 2 3 'L' '26-05-2019']
[1318032 'Serie A' datetime.date(2019, 5, 26) 271 87 2 0 'W' '26-05-2019']
[1318031 'Serie A' datetime.date(2019, 5, 26) 84 24341 2 1 'L'
 '26-05-2019']
[1318030 'Serie A' datetime.date(2019, 5, 26) 75 272 2 1 'L' '26-05-2019']
[1318028 'Serie A' datetime.date(2019, 5, 26) 73 278 0 0 'D' '26-05-2019']
[1318027 'Serie A' datetime.date(2019, 5, 26) 78 86 1 2 'W' '26-05-2019']
[1318025 'Serie A' datetime.date(2019, 5, 26) 300 2889 3 1 'L'
 '26-05-2019']
[1318029 'Serie A' datetime.date(2019, 5, 25) 2732 267 0 0 'D'
 '25-05-2019']
[1318026 'Serie A' datetime.date(2019, 5, 25) 71 276 3 2 'W' '25-05-2019']
[1318019 'Serie A' datetime.date(2019, 5, 20) 77 71 3 3 'D' '20-05-2019']
[1318018 'Serie A' datetime.date(2019, 5, 19) 87 300 1 1 'D' '19-05-2019']
[1318016 'Serie A' datetime.date(2019, 5, 19) 272 72 4 1 'W' '19-05-2019']
[1318014 'Serie A' datetime.date(2019, 5, 19) 267 271 0 0 'D' '19-05-2019']
[1318022 'Serie A' datetime.date(2019, 5, 19) 24341 73 1 0 'W'
 '19-05-2019']
[1318021 'Serie A' datetime.date(2019, 5, 19) 276 75 4 1 'W' '19-05-2019']
[1318020 'Serie A' datetime.date(2019, 5, 19) 80 2732 2 0 'L' '19-05-2019']
[1318024 'Serie A' datetime.date(2019, 5, 18) 86 1502 3 2 'W' '18-05-2019']
[1318017 'Serie A' datetime.date(2019, 5, 18) 278 78 1 1 'D' '18-05-2019']
[1318023 'Serie A' datetime.date(2019, 5, 18) 2889 84 0 0 'D' '18-05-2019']
[1318005 'Serie A' datetime.date(2019, 5, 13) 75 267 2 0 'L' '13-05-2019']
[1318001 'Serie A' datetime.date(2019, 5, 13) 71 24341 4 1 'W'
 '13-05-2019']
[1318012 'Serie A' datetime.date(2019, 5, 12) 72 2889 3 2 'L' '12-05-2019']
[1318010 'Serie A' datetime.date(2019, 5, 12) 1502 276 1 2 'W'
 '12-05-2019']
[1318008 'Serie A' datetime.date(2019, 5, 12) 271 272 1 2 'W' '12-05-2019']
[1318004 'Serie A' datetime.date(2019, 5, 12) 2732 86 1 3 'L' '12-05-2019']
[1318006 'Serie A' datetime.date(2019, 5, 12) 84 87 2 0 'L' '12-05-2019']
[1318003 'Serie A' datetime.date(2019, 5, 11) 73 80 0 1 'W' '11-05-2019']
[1318002 'Serie A' datetime.date(2019, 5, 11) 78 77 1 2 'W' '11-05-2019']
[1318000 'Serie A' datetime.date(2019, 5, 11) 300 278 2 1 'W' '11-05-2019']
[1318011 'Serie A' datetime.date(2019, 5, 6) 80 71 2 1 'L' '06-05-2019']
[1317997 'Serie A' datetime.date(2019, 5, 5) 278 84 1 1 'D' '05-05-2019']
[1317996 'Serie A' datetime.date(2019, 5, 5) 272 73 1 0 'W' '05-05-2019']
[1318015 'Serie A' datetime.date(2019, 5, 5) 24341 271 3 3 'D'
 '05-05-2019']
[1318009 'Serie A' datetime.date(2019, 5, 5) 77 300 1 3 'W' '05-05-2019']
[1318013 'Serie A' datetime.date(2019, 5, 5) 276 78 2 1 'W' '05-05-2019']
[1317998 'Serie A' datetime.date(2019, 5, 5) 2889 2732 2 2 'D'
 '05-05-2019']
[1317995 'Serie A' datetime.date(2019, 5, 4) 267 1502 0 4 'L' '04-05-2019']
[1317999 'Serie A' datetime.date(2019, 5, 4) 86 75 0 0 'D' '04-05-2019']
[1318007 'Serie A' datetime.date(2019, 5, 3) 87 72 1 1 'D' '03-05-2019']
[1317988 'Serie A' datetime.date(2019, 4, 29) 73 2889 0 1 'W' '29-04-2019']
[1317985 'Serie A' datetime.date(2019, 4, 29) 300 86 2 0 'L' '29-04-2019']
[1317992 'Serie A' datetime.date(2019, 4, 28) 271 77 1 2 'L' '28-04-2019']
[1317989 'Serie A' datetime.date(2019, 4, 28) 2732 276 0 2 'L'
 '28-04-2019']
[1317994 'Serie A' datetime.date(2019, 4, 28) 72 80 2 0 'L' '28-04-2019']
[1317987 'Serie A' datetime.date(2019, 4, 28) 267 24341 1 1 'D'
 '28-04-2019']
[1317993 'Serie A' datetime.date(2019, 4, 28) 1502 278 1 1 'D'
 '28-04-2019']
[1317990 'Serie A' datetime.date(2019, 4, 27) 75 87 1 1 'D' '27-04-2019']
[1317986 'Serie A' datetime.date(2019, 4, 27) 71 272 3 1 'L' '27-04-2019']
[1317991 'Serie A' datetime.date(2019, 4, 27) 84 78 3 0 'W' '27-04-2019']
[1317982 'Serie A' datetime.date(2019, 4, 22) 276 300 1 2 'L' '22-04-2019']
[1317976 'Serie A' datetime.date(2019, 4, 20) 78 2732 1 0 'L' '20-04-2019']
[1317984 'Serie A' datetime.date(2019, 4, 20) 86 2889 1 1 'D' '20-04-2019']
[1317975 'Serie A' datetime.date(2019, 4, 20) 71 271 3 0 'L' '20-04-2019']
[1317983 'Serie A' datetime.date(2019, 4, 20) 24341 80 1 1 'D'
 '20-04-2019']
[1317981 'Serie A' datetime.date(2019, 4, 20) 77 267 1 2 'W' '20-04-2019']
[1317980 'Serie A' datetime.date(2019, 4, 20) 87 73 2 1 'W' '20-04-2019']
[1317979 'Serie A' datetime.date(2019, 4, 20) 75 84 1 1 'D' '20-04-2019']
[1317978 'Serie A' datetime.date(2019, 4, 20) 278 72 0 1 'L' '20-04-2019']
[1317977 'Serie A' datetime.date(2019, 4, 20) 272 1502 2 4 'L'
 '20-04-2019']
[1317752 'Serie A' datetime.date(2019, 4, 17) 77 86 2 0 'L' '17-04-2019']

In [16]:
 np.shape(matchespd)

(81, 9)

In [54]:
homep = None
awayp = None
t = None
for match in matchespd.values:
    match_id = match[0]
    tournament = match[1]
    date = match[2]
    home_id = match[3]
    away_id = match[4]
    result = match[7]
    h_summary_o = queryUtils.query_team_statistic_last_record_data_before_date(tournament,home_id,queryUtils.type_Summary,queryUtils.view_Overall,date)
    a_summary_o = queryUtils.query_team_statistic_last_record_data_before_date(tournament,away_id,queryUtils.type_Summary,queryUtils.view_Overall,date)
    
    h_offensive_h = queryUtils.query_team_statistic_last_record_data_before_date(tournament,home_id,queryUtils.type_Offensive,queryUtils.view_Home,date)
    h_defensive_h = queryUtils.query_team_statistic_last_record_data_before_date(tournament,home_id,queryUtils.type_Defensive,queryUtils.view_Home,date)
    
    a_offensive_a = queryUtils.query_team_statistic_last_record_data_before_date(tournament,away_id,queryUtils.type_Offensive,queryUtils.view_Away,date)
    a_defensive_a = queryUtils.query_team_statistic_last_record_data_before_date(tournament,away_id,queryUtils.type_Defensive,queryUtils.view_Away,date)
    
#     home
    if(h_summary_o is None):
        print("None h_summary_o")
        continue
    if(h_offensive_h is None):
        print("None h_offensive_h")
        continue
    if(h_defensive_h is None):
        print("None h_defensive_h")
        continue
    
#     away
    if(a_summary_o is None):
        print("None a_summary_o")
        continue
    if(a_offensive_a is None):
        print("None a_offensive_a")
        continue
    if(a_defensive_a is None):
        print("None a_defensive_a")
        continue
    
#     remove apps
#     h_summary_o = np.delete(h_summary_o,1)
#     h_offensive_h = np.delete(h_offensive_h,1)
#     h_defensive_h = np.delete(h_defensive_h,1)
    
#     a_summary_o = np.delete(a_summary_o,1)
#     a_offensive_a = np.delete(a_offensive_a,1)
#     a_defensive_a = np.delete(a_defensive_a,1)
    
#     h_r = np.append(h_summary_o,h_offensive_h)
#     h_r = np.append(h_r,h_defensive_h)
    
#     a_r = np.append(a_summary_o,a_offensive_a)
#     a_r = np.append(a_r,a_defensive_a)
    
#     if(home is None):
#         home = np.array(h_r)
#         away = np.array(a_r)
#         t = np.array([result])
#         print(match_id)
#         print(home)
#         print(away)
#         print(t)
#         print("my first time")
#     else:
#         b = np.array(h_r)
#         home = np.vstack((home,b))
#         d = np.array(a_r)
#         away = np.vstack((away,d))
#         r = np.array(result)
#         t = np.vstack((t,r))

#   prepare home
    phso = pd.DataFrame(h_summary_o)
#     phso = phso.drop(index = [1])
    pa = phso.values.reshape(1,len(phso))
    hs = pd.DataFrame(pa)

    phoh = pd.DataFrame(h_offensive_h)
#     phoh = phoh.drop(index = [1])
    pb = phoh.values.reshape(1,len(phoh))
    ho = pd.DataFrame(pb)
    
    phdh = pd.DataFrame(h_defensive_h)
#     phdh = phdh.drop(index = [1])
    pc = phdh.values.reshape(1,len(phdh))
    hd = pd.DataFrame(pc)

    ohome = pd.concat([hs,ho,hd],axis =1)
    homep = pd.concat([homep,ohome],axis = 0)
    
    tas = pd.DataFrame(a_summary_o)
    stas = tas.values.reshape(1,len(tas))
    a_s = pd.DataFrame(stas)
    
    tao = pd.DataFrame(a_offensive_a)
    stao = tao.values.reshape(1,len(tao))
    a_o = pd.DataFrame(stao)
    
    tad = pd.DataFrame(a_defensive_a)
    stad = tad.values.reshape(1,len(tad))
    a_d = pd.DataFrame(stad)
    
    oaway = pd.concat([a_s,a_o,a_d],axis = 1)
    awayp = pd.concat([awayp,oaway],axis = 0)
    
    if(t is None):
        t = np.array([result])
    else:
        r = np.array(result)
        t = np.vstack((t,r))

None h_offensive_h
None a_summary_o
None a_summary_o
None h_summary_o
None a_summary_o

In [55]:
np.shape(t)

(76, 1)

In [30]:
awayp.head()

,0,1,2,3,4,5,6,0,1,2,3,4,5,0,1,2,3,4,5,6
0,6.39,1.0,0.0,16.0,51.0,84.8,13.0,6.67,19.0,11.6,4.4,6.9,12.4,6.67,19.0,15.6,16.3,9.3,13.3,1.6
0,6.74,1.0,3.0,23.0,52.3,85.1,12.0,6.79,19.0,15.6,4.9,8.6,9.8,6.79,19.0,16.1,14.4,12.0,12.1,1.2
0,6.64,1.0,3.0,20.0,45.6,82.5,9.0,6.71,19.0,15.1,4.7,8.1,13.8,6.71,19.0,14.2,17.2,11.6,15.7,1.4
0,7.67,1.0,4.0,24.0,58.7,90.4,12.0,6.75,19.0,15.1,4.3,7.8,12.9,6.75,19.0,12.5,15.9,8.5,12.6,1.9
0,7.16,1.0,2.0,10.0,39.8,67.1,24.0,6.79,19.0,12.1,3.7,8.2,14.7,6.79,19.0,13.6,17.8,11.9,17.7,1.9

In [31]:
homep.head()

,0,1,2,3,4,5,6,0,1,2,3,4,5,0,1,2,3,4,5,6
0,6.59,1.0,1.0,20.0,60.2,83.6,14.0,6.72,19.0,15.4,4.7,9.9,13.3,6.72,19.0,12.2,13.3,9.6,14.0,2.0
0,7.53,1.0,3.0,17.0,49.0,82.8,20.0,6.85,19.0,18.5,5.9,9.5,10.6,6.85,19.0,11.3,16.9,11.6,12.3,2.6
0,6.67,1.0,3.0,6.0,47.8,83.1,15.0,6.74,19.0,15.4,4.5,7.7,13.4,6.74,19.0,11.8,17.8,11.2,14.1,1.7
0,6.53,1.0,0.0,14.0,55.1,79.1,25.0,6.53,1.0,14.0,4.0,4.0,11.0,6.53,1.0,10.0,9.0,24.0,10.0,2.0
0,7.05,1.0,3.0,21.0,56.2,79.4,28.0,6.92,19.0,18.0,6.4,9.2,13.6,6.92,19.0,8.9,17.4,11.9,11.4,2.3

In [32]:
away = awayp.iloc[:,[0,2,3,4,5,6,7,9,10,11,12,13,15,16,17,18]]

In [33]:
away.head()

,0,2,3,4,5,6,0,2,3,4,5,0,2,3,4,5
0,6.39,0.0,16.0,51.0,84.8,13.0,6.67,11.6,4.4,6.9,12.4,6.67,15.6,16.3,9.3,13.3
0,6.74,3.0,23.0,52.3,85.1,12.0,6.79,15.6,4.9,8.6,9.8,6.79,16.1,14.4,12.0,12.1
0,6.64,3.0,20.0,45.6,82.5,9.0,6.71,15.1,4.7,8.1,13.8,6.71,14.2,17.2,11.6,15.7
0,7.67,4.0,24.0,58.7,90.4,12.0,6.75,15.1,4.3,7.8,12.9,6.75,12.5,15.9,8.5,12.6
0,7.16,2.0,10.0,39.8,67.1,24.0,6.79,12.1,3.7,8.2,14.7,6.79,13.6,17.8,11.9,17.7

In [34]:
home = homep.iloc[:,[0,2,3,4,5,6,7,9,10,11,12,13,15,16,17,18]]

In [35]:
home.head()

,0,2,3,4,5,6,0,2,3,4,5,0,2,3,4,5
0,6.59,1.0,20.0,60.2,83.6,14.0,6.72,15.4,4.7,9.9,13.3,6.72,12.2,13.3,9.6,14.0
0,7.53,3.0,17.0,49.0,82.8,20.0,6.85,18.5,5.9,9.5,10.6,6.85,11.3,16.9,11.6,12.3
0,6.67,3.0,6.0,47.8,83.1,15.0,6.74,15.4,4.5,7.7,13.4,6.74,11.8,17.8,11.2,14.1
0,6.53,0.0,14.0,55.1,79.1,25.0,6.53,14.0,4.0,4.0,11.0,6.53,10.0,9.0,24.0,10.0
0,7.05,3.0,21.0,56.2,79.4,28.0,6.92,18.0,6.4,9.2,13.6,6.92,8.9,17.4,11.9,11.4

In [36]:
np.shape(away)

(76, 16)

In [38]:
np.shape(home)

(76, 16)

In [48]:
X = home - away
print(X)

       0     2     3     4     5     6     0     2    3    4    5     0    2  \
0   0.20   1.0   4.0   9.2  -1.2   1.0  0.05   3.8  0.3  3.0  0.9  0.05 -3.4
0   0.79   0.0  -6.0  -3.3  -2.3   8.0  0.06   2.9  1.0  0.9  0.8  0.06 -4.8
0   0.03   0.0 -14.0   2.2   0.6   6.0  0.03   0.3 -0.2 -0.4 -0.4  0.03 -2.4
0  -1.14  -4.0 -10.0  -3.6 -11.3  13.0 -0.22  -1.1 -0.3 -3.8 -1.9 -0.22 -2.5
0  -0.11   1.0  11.0  16.4  12.3   4.0  0.13   5.9  2.7  1.0 -1.1  0.13 -4.7
0   0.59   1.0   9.0   1.7   3.3   6.0  0.34   8.9  3.2  1.5 -1.2  0.34 -8.4
0   0.02  -4.0  -2.6  -1.9  -1.1   4.0  0.18   1.5  0.6  1.5  0.2  0.18 -1.4
0   0.03   4.0   1.0  -4.2  -4.6   4.6  0.12   2.3  1.1 -0.6  0.6  0.12 -1.5
0  -0.14 -16.0  -3.2  -8.6  -7.7   5.6 -0.04  -1.5 -1.0 -1.3 -0.2 -0.04  2.5
0   0.17  -1.0   0.2  -2.1  -5.8   9.8  0.27   3.6  2.2  0.9  0.8  0.27 -2.1
0  -0.26 -33.0  -4.7  -5.3  -1.5  -1.1 -0.24  -2.8 -1.7 -3.1  2.1 -0.24  0.7
0  -0.06   4.0  -3.3   3.2   0.9  -3.7  0.06   0.3  0.8 -0.6  4.6  0.06 -2.0
0   0.22  27.0   2.4   6.3   7.3  -0.7  0.38   4.5  3.1  3.0 -1.0  0.38 -2.9
0  -0.34 -29.0  -6.7 -13.9 -11.7   0.7 -0.26  -3.7 -1.6 -2.6 -1.1 -0.26  4.6
0  -0.20 -27.0  -3.2  -6.4  -8.1   6.6 -0.11  -0.6 -0.6 -0.5  1.2 -0.11 -1.7
0   0.04  -6.0  -2.8   0.1  -4.8   5.9  0.12   1.4  1.3  1.6  5.5  0.12 -2.0
0  -0.19 -14.0  -3.6  -3.2  -3.6   3.0 -0.10  -1.0 -1.1 -2.7  1.4 -0.10 -0.9
0  -0.24 -11.0  -3.9  -1.4  -3.6  -1.4 -0.12  -1.2  0.2 -1.9  1.1 -0.12 -0.8
0   0.24  24.0   6.7  10.5   8.0   4.6  0.31   8.9  3.9  2.7  0.3  0.31 -9.5
0   0.24   8.0   3.9   8.1   4.3   1.9  0.42   6.0  2.4 -1.3  0.8  0.42 -6.5
0   0.09  10.0   1.7   5.3   3.5  -2.7  0.20   3.4  1.0  0.7  1.8  0.20 -5.6
0  -0.04   2.0  -1.1   4.3   1.1   3.8  0.17   1.0  0.8 -5.0  0.7  0.17 -1.8
0   0.24  21.0   3.3   2.3  -0.3   4.3  0.30   6.3  2.8  1.3 -1.5  0.30 -4.2
0   0.02   3.0   0.7  -2.3  -1.9  -2.3 -0.01   2.3  1.1  0.2  1.9 -0.01 -0.1
0  -0.25 -29.0  -5.6 -11.2  -9.7  10.0 -0.10  -1.7 -0.6 -1.4  3.4 -0.10  1.4
0   0.14  13.0   3.6   4.8   4.5  -3.7  0.25   6.7  2.2  2.2 -2.4  0.25 -3.8
0   0.07  -3.0  -0.6  -1.2   2.4  -2.2  0.15   2.4  0.8 -0.8 -0.5  0.15 -2.3
0  -0.26   0.0  -1.5  -2.2   4.3 -10.9 -0.11   0.4  0.9  1.2 -4.1 -0.11  3.1
0  -0.25 -32.0  -1.8  -8.4  -4.6   6.2 -0.19  -1.2 -1.1 -1.5  1.0 -0.19 -2.2
0  -0.13  -9.0  -6.5  -9.1  -4.3  -2.2 -0.12  -4.3 -1.9 -0.7 -2.7 -0.12  2.9
..   ...   ...   ...   ...   ...   ...   ...   ...  ...  ...  ...   ...  ...
0  -0.19 -22.0  -1.9  -6.7  -7.1   0.5 -0.05  -0.5 -0.5 -1.4  3.7 -0.05 -3.8
0  -0.18  -5.0  -3.3  -1.6   3.3  -5.9 -0.04  -1.8  0.2  0.6 -3.2 -0.04  1.3
0  -0.14 -19.0  -3.3 -12.1  -8.4   2.4 -0.07  -0.6 -1.3  0.6 -0.9 -0.07  0.6
0  -0.08 -17.0  -0.7  -5.7  -1.9   0.4  0.01   3.6  0.7 -1.3 -1.9  0.01 -2.4
0   0.28  32.0   6.9   7.3   8.3 -12.8  0.50  10.9  4.2  4.6 -2.7  0.50 -6.0
0   0.15  21.0   1.9  10.4   7.8  -4.9  0.18   4.9  2.5  4.4 -0.6  0.18 -4.8
0  -0.13 -10.0  -1.0  -5.3  -4.1   3.4 -0.11  -0.1 -0.2 -2.4 -0.6 -0.11 -1.5
0  -0.17 -21.0  -3.7 -11.5  -7.9   5.2 -0.05  -1.1 -0.4  0.5  0.5 -0.05  2.6
0   0.14  24.0   3.0   4.1   9.0  -8.3  0.22   6.1  2.3  1.8 -3.0  0.22 -2.8
0   0.08   0.0   1.9  -3.2  -5.9   5.6  0.16   4.7  1.1 -0.1 -0.7  0.16 -2.7
0   0.25  35.0   4.7  11.0   5.8  -2.2  0.36   7.2  3.6 -0.2  2.1  0.36 -7.2
0  -0.06   6.0  -4.2   2.5   0.3  -4.2  0.11  -0.1  0.9 -0.2  4.9  0.11 -1.7
0  -0.39 -36.0  -6.6 -13.6 -10.6   7.0 -0.30  -1.6 -0.6 -2.2  2.9 -0.30  5.2
0   0.00  -5.0  -1.9  -2.6  -8.7  10.3  0.06   1.0  0.9  0.2  2.2  0.06 -2.3
0  -0.12 -10.0   1.5   4.1   4.0   4.1 -0.12   2.6  0.6 -2.0  2.3 -0.12 -8.6
0  -0.01  -1.0  -2.0   5.5   7.1  -4.4  0.12   0.4 -0.4 -0.9  3.2  0.12 -4.4
0  -0.16 -16.0  -0.8   1.8  -0.3  -0.8 -0.08   2.4  0.5 -2.5 -0.7 -0.08 -2.4
0   0.09  -8.0   0.2  -2.8  -4.4   9.0  0.25   1.0  1.3 -1.4  3.4  0.25 -2.1
0   0.20  26.0   4.5   1.8   3.2  -3.8  0.37   6.1  3.5  5.8 -1.1  0.37 -3.6
0   0.02  -3.0   0.9   0.7   3.3  -6.5  0.17   5.5  2.0 -0.4 -2.3  0.17 -2.5
0   0.09   5.0  -0.3   6.1   2.2   5.5  0.19   2.5  1.0 -0.8 -2.0  0.19 -2.9
0   0.01 -16.0  -1.3  -7.8  -6.3   7.2  0.14   0.9 -0.1 -0.1 -1.0  0.14  2.4
0  -0.14 -20.0   0.3  -7.1  -4.9   8.1 -0.04   1.6  0.1  0.5  3.5 -0.04 -2.8
0  -0.22 -12.0  -6.0 -12.5 -11.9   2.8 -0.19  -3.6 -2.0 -3.1 -1.7 -0.19  3.6
0   0.34  23.0   5.4   5.4   3.9  -2.2  0.43   7.8  3.2  3.5 -2.7  0.43 -6.9
0   0.25  19.0   1.0   4.7   8.0  -2.9  0.31   3.7  1.7  1.1 -1.7  0.31 -4.0
0  -0.01  -9.0  -0.4   4.3   3.2  -5.3  0.10   1.8  0.6 -1.7  3.1  0.10 -5.7
0  -0.16  -5.0   0.1  -6.4  -2.2  -3.1 -0.05   2.7  0.6  0.0 -2.1 -0.05 -1.0
0  -0.05  10.0   0.6  -1.8  -0.3  -3.9  0.12   2.0  1.4  1.3 -3.4  0.12  0.5
0   0.15  14.0   4.1   5.4   4.0  -1.8  0.31   7.9  3.3 -0.8 -1.4  0.31 -6.2

      3     4    5
0  -3.0   0.3  0.7
0   2.5  -0.4  0.2
0   0.6  -0.4 -1.6
0  -6.9  15.5 -2.6
0  -0.4   0.0 -6.3
0  -2.2   0.9  3.3
0  -0.1   0.8  1.3
0   3.2  -0.8  0.2
0   1.6   2.0  2.1
0   1.1   1.5  1.0
0  -0.9  -2.2  2.1
0   0.3  -1.2 -1.5
0  -3.6  -1.1 -3.2
0   0.9  -0.4  1.0
0  -0.8   0.4  2.6
0  -1.2   0.7  0.7
0  -1.6   0.9  2.5
0   2.5  -0.8  0.8
0  -0.6  -0.8 -0.6
0   1.4  -0.2  0.8
0  -2.5  -0.6 -1.5
0   0.3   0.0  2.6
0   2.5   2.4 -2.2
0  -1.3  -2.9 -1.0
0   4.4  -0.4  1.6
0  -0.6   2.1 -2.3
0  -1.3  -1.0  0.6
0  -4.0  -2.4 -5.4
0   0.3   2.5  0.9
0  -1.2  -2.0 -2.3
..  ...   ...  ...
0   3.4  -1.2  1.8
0  -2.5  -2.8 -2.8
0  -0.8   0.3 -0.8
0   1.8   0.0  0.3
0   0.3   0.0 -4.8
0  -1.4   0.0 -0.4
0   1.5   1.2  2.3
0   2.7   2.4  0.3
0  -3.6  -0.5 -5.6
0  -0.2   0.8  0.0
0   1.5   3.9 -1.2
0   1.1  -1.4 -1.5
0  -0.1  -0.2  4.0
0  -1.7   2.7  3.7
0   2.5   0.7  1.9
0  -0.6  -1.5 -1.3
0   0.4  -2.6 -0.1
0   4.5   1.4  1.4
0  -1.3   1.1 -2.6
0   0.2  -2.3 -1.9
0   2.4  -0.8  0.7
0   4.9   0.6 -1.1
0   1.4  -0.1 -1.9
0  -1.1   1.0  2.2
0   0.7  -1.0 -3.5
0  -2.6  -0.8 -3.4
0   1.3  -4.4  0.3
0  -0.8   0.1 -4.1
0  -1.1  -1.8  0.3
0   0.9   3.1 -0.1

[76 rows x 16 columns]

In [49]:
np.shape(X)

(76, 16)

In [50]:
from sklearn.tree import DecisionTreeClassifier

In [51]:
from sklearn.model_selection import train_test_split

In [56]:
X_train,X_test,y_train,y_test = train_test_split(X,t,test_size=0.3,random_state = 1, stratify = t)

In [85]:
tree = DecisionTreeClassifier(random_state=0)

In [86]:
tree.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [87]:
np.shape(y_train)

(53, 1)

In [88]:
np.shape(X_train)

(53, 16)

In [89]:
np.shape(y_test)

(23, 1)

In [90]:
y_pred = tree.predict(X_test)

In [91]:
print(y_pred)

['W' 'W' 'D' 'L' 'L' 'W' 'L' 'D' 'W' 'L' 'D' 'W' 'W' 'W' 'D' 'W' 'L' 'L'
 'L' 'D' 'L' 'L' 'D']

In [92]:
print(y_test)

[['L']
 ['W']
 ['W']
 ['D']
 ['W']
 ['L']
 ['D']
 ['W']
 ['L']
 ['D']
 ['D']
 ['L']
 ['L']
 ['W']
 ['D']
 ['L']
 ['W']
 ['W']
 ['L']
 ['W']
 ['L']
 ['L']
 ['D']]

In [93]:
np.mean(y_pred == y_test)

0.34215500945179583

In [65]:
y_pred[3]

'L'

In [66]:
y_test[3][0]

'D'

In [96]:
tree.feature_importances_

array([0.04301948, 0.1385264 , 0.09516431, 0.05641905, 0.        ,
       0.        , 0.04779942, 0.05301391, 0.18057318, 0.        ,
       0.12249259, 0.03823954, 0.07652839, 0.1099842 , 0.03823954,
       0.        ])

In [95]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=5,random_state=2)
forest.fit(X_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=5,
                       n_jobs=None, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)