In [1]:
import pymysql
import sqlalchemy as sqla
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [34]:
type_Summary = 'Summary'
type_Defensive = 'Defensive'
type_Offensive = 'Offensive'
view_Overall ='Overall'
view_Home = 'Home'
view_Away = 'Away'

In [2]:
def get_sqla_connector():
    return sqla.create_engine("mysql+pymysql://shil:sl134120@127.0.0.1/sporty",encoding = 'utf-8')

def get_mysql_connector():
    return  pymysql.connect(
    host="127.0.0.1",
    user = 'shil',
    password = 'sl134120',
    database = 'sporty'
)

In [3]:
def beforeXmonth(x):
    d = x*30.5
    return datetime.now() - timedelta(days=d)

In [4]:
beforeXmonth(4)

datetime.datetime(2019, 5, 7, 15, 38, 45, 725795)

In [5]:
def tournamentPage2Match(tournament_page_name):
    if(tournament_page_name == 'Italy - Serie A'):
        return 'Serie A'
    return None

In [6]:
def find_latest_date_before_date(tournament_name,query_date):
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    list_tournament_teams_sql = "SELECT date FROM `tournament_teams` where tournament = %s and date <= %s order by date desc , no asc limit 1";
    ps = (tournament_name,query_date)
    cursor.execute(list_tournament_teams_sql,ps)
    return cursor.fetchone()

In [7]:
find_latest_date_before_date('Italy - Serie A', beforeXmonth(3))

(datetime.date(2019, 5, 8),)

In [8]:
def list_latest_special_date_tournament_teams(tournament_name,special_date):
    query_date = find_latest_date_before_date(tournament_name,special_date)
    query_sql = "SELECT * FROM `tournament_teams` where tournament = %s and date = %s order by points desc"
    ps = (tournament_name,query_date)
    db = get_sqla_connector()
    return pd.read_sql(query_sql,params = ps ,con = db)

In [12]:
whole_team = list_latest_special_date_tournament_teams('Italy - Serie A', beforeXmonth(0))

In [13]:
whole_team.head()

,id,tournament,date,no,team_name,team_link,team_id,played,win,draw,loss,goals_for,goals_against,goals_difference,points,sdate
0,17662,Italy - Serie A,2019-09-01,1,Juventus,https://www.whoscored.com/Teams/87/Show/Italy-...,87,2,2,0,0,5,3,2,6,01-09-2019
1,17663,Italy - Serie A,2019-09-01,2,Bologna,https://www.whoscored.com/Teams/71/Show/Italy-...,71,2,1,1,0,2,1,1,4,01-09-2019
2,17664,Italy - Serie A,2019-09-01,3,Udinese,https://www.whoscored.com/Teams/86/Show/Italy-...,86,1,1,0,0,1,0,1,3,01-09-2019
3,17665,Italy - Serie A,2019-09-01,4,AC Milan,https://www.whoscored.com/Teams/80/Show/Italy-...,80,2,1,0,1,1,1,0,3,01-09-2019
4,17666,Italy - Serie A,2019-09-01,5,Brescia,https://www.whoscored.com/Teams/144/Show/Italy...,144,2,1,0,1,1,1,0,3,01-09-2019

In [14]:
def list_all_tournament_matches_since_qdate(tournament_name,query_date):
    list_all_tournament_matches_since_qdate = "SELECT * FROM match_fixtures\
    WHERE \
        tournament = %s \
        and date >= %s \
        order by date desc" 
    ps = (tournament_name,query_date)
    db = get_sqla_connector()
    return pd.read_sql(list_all_tournament_matches_since_qdate,params = ps ,con = db)

In [15]:
ss = list_all_tournament_matches_since_qdate('Serie A',beforeXmonth(3))

In [16]:
ss.head()

,match_id,tournament,date,home_team_id,home_team_name,away_team_id,away_team_name,full_time_home_goals,full_time_away_goals,half_time_home_goals,half_time_away_goals,result,sdate
0,1415703,Serie A,2019-09-01,300,Atalanta,72,Torino,2,3,None,None,L,01-09-2019
1,1415705,Serie A,2019-09-01,78,Cagliari,75,Inter,1,2,None,None,W,01-09-2019
2,1415706,Serie A,2019-09-01,278,Genoa,73,Fiorentina,2,1,None,None,W,01-09-2019
3,1415708,Serie A,2019-09-01,77,Lazio,84,Roma,1,1,None,None,D,01-09-2019
4,1415709,Serie A,2019-09-01,79,Lecce,76,Verona,0,1,None,None,L,01-09-2019

In [32]:
tournament_in_sql_name = tournamentPage2Match('Italy - Serie A')

In [46]:
def query_one_match_preview(match_id):
    query_one_sql =" SELECT * FROM match_previews WHERE match_id = %s"
    
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    cursor.execute(query_one_sql,(match_id,))
    one_record = cursor.fetchone()
    if one_record is not None :
        return one_record
    else:
        return None

In [47]:
query_one_match_preview(1415703)

(1415703,
 datetime.date(2019, 9, 1),
 300,
 'Atalanta',
 1,
 2,
 6.9,
 2.5,
 62.0,
 1.5,
 1.7,
 72,
 'Torino',
 1,
 0,
 7.1,
 2.3,
 76.0,
 1.2,
 2.5,
 '{"141169": "Out"}',
 '{"80734": "Out", "284115": "Out", "71647": "Out", "23001": "Out", "43834": "Out"}',
 '{"240990": "6.01", "14157": "6.4", "125810": "6.98", "64075": "6.43", "141726": "7.31", "302691": "6.67", "85070": "6.44", "135890": "7.38", "22546": "8.34", "43194": "N/A", "41073": "7.49"}',
 '{"22627": "8.6", "281433": "7.32", "109835": "6.14", "141307": "6.79", "315543": "6.5", "31991": "7.02", "83716": "7.42", "105161": "6.18", "19580": "6.81", "112272": "8.28", "238899": "N/A"}')

In [66]:
def query_team_statistic_last_record_data_before_date(tournament,team_id,atype,view,before_date):
    if(atype == type_Summary):
        query_last_data = "SELECT rating,apps,goals,shots_pg,possession,pass,aerials_won FROM team_statistics where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    elif(atype == type_Offensive):
        query_last_data = "SELECT \
        `rating`,\
        `apps`,\
        `shots_pg`,\
        `shots_ot_pg`,\
        `dribbles_pg`,\
        `fouled_pg` \
        FROM team_statistics where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    elif(atype == type_Defensive):
        query_last_data = "SELECT \
        `rating`,\
        `apps`,\
        `shots_conceded_pg`,\
        `tackles_pg`,\
        `interceptions_pg`,\
        `fouls_pg`,\
        `offsides_pg` \
        FROM team_statistics where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    else:
        print("atype never be seen before.")
        return
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    cursor.execute(query_last_data,(tournament,team_id,atype,view,before_date))
    last_data = cursor.fetchone()
    if last_data is not None :
        return last_data
    else:
        return None

In [56]:
o_match = ss.values[0]

In [57]:
o_match[3]

300

In [58]:
m_id = o_match[0]
m_date = o_match[2]
home_t_id = o_match[3]
away_t_id = o_match[5]

In [59]:
m_id

1415703

In [60]:
m_date

datetime.date(2019, 9, 1)

In [67]:
query_team_statistic_last_record_data_before_date(tournament_in_sql_name, home_t_id, type_Defensive, view_Overall, m_date)

(7.05, 1, 9.0, 17.0, 14.0, 16.0, 2.0)