In [1]:
import pymysql
import sqlalchemy as sqla
import pandas as pd
from datetime import datetime
from datetime import timedelta

In [2]:
type_Summary = 'Summary'
type_Defensive = 'Defensive'
type_Offensive = 'Offensive'
view_Overall ='Overall'
view_Home = 'Home'
view_Away = 'Away'

In [3]:
def get_sqla_connector():
    return sqla.create_engine("mysql+pymysql://shil:sl134120@127.0.0.1/sporty",encoding = 'utf-8')

def get_mysql_connector():
    return  pymysql.connect(
    host="127.0.0.1",
    user = 'shil',
    password = 'sl134120',
    database = 'sporty'
)

In [4]:
def beforeXmonth(x):
    d = x*30.5
    return datetime.now() - timedelta(days=d)

In [5]:
beforeXmonth(4)

datetime.datetime(2019, 6, 14, 11, 40, 22, 847181)

In [6]:
def tournamentPage2Match(tournament_page_name):
    if(tournament_page_name == 'Italy - Serie A'):
        return 'Serie A'
    return None

In [7]:
def find_latest_date_before_date(tournament_name,query_date):
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    list_tournament_teams_sql = "SELECT date FROM `tournament_teams` where tournament = %s and date <= %s order by date desc , no asc limit 1";
    ps = (tournament_name,query_date)
    cursor.execute(list_tournament_teams_sql,ps)
    return cursor.fetchone()

In [8]:
find_latest_date_before_date('Italy - Serie A', beforeXmonth(3))

(datetime.date(2019, 5, 8),)

In [9]:
def list_latest_special_date_tournament_teams(tournament_name,special_date):
    query_date = find_latest_date_before_date(tournament_name,special_date)
    query_sql = "SELECT * FROM `tournament_teams` where tournament = %s and date = %s order by points desc"
    ps = (tournament_name,query_date)
    db = get_sqla_connector()
    return pd.read_sql(query_sql,params = ps ,con = db)

In [24]:
whole_team = list_latest_special_date_tournament_teams('Italy - Serie A', beforeXmonth(0))

In [25]:
whole_team.head()

,id,tournament,date,no,team_name,team_link,team_id,played,win,draw,loss,goals_for,goals_against,goals_difference,points,sdate
0,35988,Italy - Serie A,2019-10-08,1,Juventus,https://www.whoscored.com/Teams/87/Show/Italy-...,87,7,6,1,0,13,6,7,19,08-10-2019
1,35989,Italy - Serie A,2019-10-08,2,Inter,https://www.whoscored.com/Teams/75/Show/Italy-...,75,7,6,0,1,14,4,10,18,08-10-2019
2,35990,Italy - Serie A,2019-10-08,3,Atalanta,https://www.whoscored.com/Teams/300/Show/Italy...,300,7,5,1,1,18,10,8,16,08-10-2019
3,35991,Italy - Serie A,2019-10-08,4,Napoli,https://www.whoscored.com/Teams/276/Show/Italy...,276,7,4,1,2,15,10,5,13,08-10-2019
4,35992,Italy - Serie A,2019-10-08,5,Roma,https://www.whoscored.com/Teams/84/Show/Italy-...,84,7,3,3,1,12,10,2,12,08-10-2019

In [26]:
whole_team.values[2][0]

35990

In [27]:
def list_all_tournament_matches_since_qdate(tournament_name,query_date):
    list_all_tournament_matches_since_qdate = "SELECT * FROM match_fixtures\
    WHERE \
        tournament = %s \
        and date >= %s \
        order by date desc" 
    ps = (tournament_name,query_date)
    db = get_sqla_connector()
    return pd.read_sql(list_all_tournament_matches_since_qdate,params = ps ,con = db)

In [28]:
ss = list_all_tournament_matches_since_qdate('Serie A',beforeXmonth(3))

In [29]:
ss.head()

,match_id,tournament,date,home_team_id,home_team_name,away_team_id,away_team_name,full_time_home_goals,full_time_away_goals,half_time_home_goals,half_time_away_goals,result,sdate
0,1415703,Serie A,2019-09-01,300,Atalanta,72,Torino,2,3,None,None,L,01-09-2019
1,1415705,Serie A,2019-09-01,78,Cagliari,75,Inter,1,2,None,None,W,01-09-2019
2,1415706,Serie A,2019-09-01,278,Genoa,73,Fiorentina,2,1,None,None,W,01-09-2019
3,1415708,Serie A,2019-09-01,77,Lazio,84,Roma,1,1,None,None,D,01-09-2019
4,1415709,Serie A,2019-09-01,79,Lecce,76,Verona,0,1,None,None,L,01-09-2019

In [30]:
tournament_in_sql_name = tournamentPage2Match('Italy - Serie A')

In [31]:
def query_one_match_preview(match_id):
    query_one_sql =" SELECT * FROM match_previews WHERE match_id = %s"
    
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    cursor.execute(query_one_sql,(match_id,))
    one_record = cursor.fetchone()
    if one_record is not None :
        return one_record
    else:
        return None

In [32]:
query_one_match_preview(1415703)

(1415703,
 datetime.date(2019, 9, 1),
 300,
 'Atalanta',
 1,
 2,
 6.9,
 2.5,
 62.0,
 1.5,
 1.7,
 72,
 'Torino',
 1,
 0,
 7.1,
 2.3,
 76.0,
 1.2,
 2.5,
 '{"141169": "Out"}',
 '{"80734": "Out", "284115": "Out", "71647": "Out", "23001": "Out", "43834": "Out"}',
 '{"240990": "6.01", "14157": "6.4", "125810": "6.98", "64075": "6.43", "141726": "7.31", "302691": "6.67", "85070": "6.44", "135890": "7.38", "22546": "8.34", "43194": "N/A", "41073": "7.49"}',
 '{"22627": "8.6", "281433": "7.32", "109835": "6.14", "141307": "6.79", "315543": "6.5", "31991": "7.02", "83716": "7.42", "105161": "6.18", "19580": "6.81", "112272": "8.28", "238899": "N/A"}')

In [33]:
def query_team_statistic_last_record_data_before_date(tournament,team_id,atype,view,before_date):
    if(atype == type_Summary):
        query_last_data = "SELECT \
        rating,\
        apps,\
        goals,\
        shots_pg,\
        possession,\
        pass,\
        aerials_won \
        FROM team_statistics where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    elif(atype == type_Offensive):
        query_last_data = "SELECT \
        `rating`,\
        `apps`,\
        `shots_pg`,\
        `shots_ot_pg`,\
        `dribbles_pg`,\
        `fouled_pg` \
        FROM team_statistics where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    elif(atype == type_Defensive):
        query_last_data = "SELECT \
        `rating`,\
        `apps`,\
        `shots_conceded_pg`,\
        `tackles_pg`,\
        `interceptions_pg`,\
        `fouls_pg`,\
        `offsides_pg` \
        FROM team_statistics where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    else:
        print("atype never be seen before.")
        return
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    cursor.execute(query_last_data,(tournament,team_id,atype,view,before_date))
    last_data = cursor.fetchone()
    if last_data is not None :
        return last_data
    else:
        return None

In [34]:
o_match = ss.values[0]

In [35]:
o_match[3]

300

In [36]:
m_id = o_match[0]
m_date = o_match[2]
home_t_id = o_match[3]
away_t_id = o_match[5]

In [37]:
m_id

1415703

In [38]:
m_date

datetime.date(2019, 9, 1)

In [39]:
query_team_statistic_last_record_data_before_date(tournament_in_sql_name, home_t_id, type_Defensive, view_Overall, m_date)

(7.05, 1, 9.0, 17.0, 14.0, 16.0, 2.0)

In [40]:
def query_team_squad_last_record_sdate(tournament,team_id,atype,view,before_date = datetime.now()):
    query_last_data = "SELECT sdate FROM `squad_statistics` where tournament = %s and team_id = %s and type = %s and view = %s and date <= %s order by date desc limit 1"
    cnx = get_mysql_connector()
    cursor = cnx.cursor()
    cursor.execute(query_last_data,(tournament,team_id,atype,view,before_date))
    last_date = cursor.fetchone()
    if last_date is not None :
        return last_date[0]
    else:
        return None

In [41]:
def list_team_squad_statistics_latest_sepcial_date(tournament,team_id,atype,view,sepcial_date):
    sepcial_sdate = query_team_squad_last_record_sdate(tournament,team_id,atype,view,sepcial_date)
    query_datas = "SELECT \
        `player_id`,\
        `player_name`,\
        `date`,\
        `rating`,\
        `cm`,\
        `apps`,\
        `mins`,\
        `goals`,\
        `assists`,\
        `shots_pg`,\
        `pass`,\
        `aerials_won`,\
        `man_ot_match` \
        FROM `squad_statistics` where tournament = %s and team_id = %s and type = %s and view = %s and sdate = %s order by rating desc"
    ps = (tournament,team_id,atype,view,sepcial_sdate)
    db = get_sqla_connector()
    return pd.read_sql(query_datas,params = ps ,con = db)

In [42]:
list_team_squad_statistics_latest_sepcial_date('La Liga',62,type_Summary,view_Overall,beforeXmonth(4))

,player_id,player_name,date,rating,cm,apps,mins,goals,assists,shots_pg,pass,aerials_won,man_ot_match
0,91242,Iago Aspas,2019-05-04,7.48,176,23(1),1992,16.0,6.0,2.6,81.5,1.0,5.0
1,344542,Brais Méndez,2019-05-04,7.07,187,25(3),2170,6.0,7.0,2.4,78.4,1.0,1.0
2,234363,Sofiane Boufal,2019-05-04,7.04,170,24(8),1971,3.0,3.0,1.5,80.0,0.5,1.0
3,344119,Maxi Gómez,2019-05-04,6.97,186,30(2),2721,12.0,5.0,2.3,74.0,4.0,2.0
4,79929,Hugo Mallo,2019-05-04,6.89,173,32,2824,1.0,4.0,0.7,74.4,1.8,NaN
5,146763,Lucas Olaza,2019-05-04,6.89,173,7,628,NaN,1.0,NaN,82.1,0.6,NaN
6,88191,Néstor Araújo,2019-05-04,6.75,188,27(2),2412,3.0,NaN,0.3,86.5,2.1,1.0
7,67958,Ryad Boudebouz,2019-05-04,6.71,177,5(3),485,1.0,1.0,1.1,82.3,0.5,NaN
8,120335,Rubén Blanco,2019-05-04,6.59,188,22,1980,NaN,NaN,NaN,59.9,0.1,NaN
9,15544,Gustavo Cabral,2019-05-04,6.54,182,19(3),1718,NaN,NaN,0.7,87.1,3.1,NaN
10,111892,Stanislav Lobotka,2019-05-04,6.50,170,24(4),2233,NaN,1.0,0.3,89.4,0.3,NaN
11,141058,Jozabed Sánchez,2019-05-04,6.29,180,14(3),1120,NaN,NaN,0.6,85.1,0.4,NaN
12,118234,Andrew Hjulsager,2019-05-04,6.24,175,2(13),350,NaN,3.0,0.1,78.9,0.1,NaN

In [43]:
def retrieveTournamentTeamData(tournament_name,query_date):
    tournament_teams = list_latest_special_date_tournament_teams(tournament_name,query_date);
    tournament_team_map = {}
    for tournament_team in tournament_teams.values:
#         print(tournament_team)
        print(str(tournament_team[3]) + " : "+ str(tournament_team[6]))
        tournament_team_map.setdefault(tournament_team[6], tournament_team)
    return tournament_team_map

In [44]:
retrieveTournamentTeamData("Italy - Serie A", beforeXmonth(4))

2 : 276
3 : 75
4 : 300
5 : 80
6 : 84
8 : 77
9 : 271
10 : 2889
11 : 1502
12 : 78
13 : 73
14 : 24341
15 : 71
16 : 278
17 : 86
18 : 272
19 : 2732
20 : 267

{276: array([13475, 'Italy - Serie A', datetime.date(2019, 5, 8), 2, 'Napoli',
        'https://www.whoscored.com/Teams/276/Show/Italy-Napoli', 276, 35,
        22, 7, 6, 66, 31, 35, 73, '08-05-2019'], dtype=object),
 75: array([13476, 'Italy - Serie A', datetime.date(2019, 5, 8), 3, 'Inter',
        'https://www.whoscored.com/Teams/75/Show/Italy-Inter', 75, 35, 18,
        9, 8, 52, 28, 24, 63, '08-05-2019'], dtype=object),
 300: array([13477, 'Italy - Serie A', datetime.date(2019, 5, 8), 4, 'Atalanta',
        'https://www.whoscored.com/Teams/300/Show/Italy-Atalanta', 300, 35,
        18, 8, 9, 71, 43, 28, 62, '08-05-2019'], dtype=object),
 80: array([13478, 'Italy - Serie A', datetime.date(2019, 5, 8), 5, 'AC Milan',
        'https://www.whoscored.com/Teams/80/Show/Italy-AC-Milan', 80, 35,
        16, 11, 8, 49, 34, 15, 59, '08-05-2019'], dtype=object),
 84: array([13479, 'Italy - Serie A', datetime.date(2019, 5, 8), 6, 'Roma',
        'https://www.whoscored.com/Teams/84/Show/Italy-Roma', 84, 35, 16,
        11, 8, 62, 47, 15, 59, '08-05-2019'], dtype=object),
 77: array([13480, 'Italy - Serie A', datetime.date(2019, 5, 8), 8, 'Lazio',
        'https://www.whoscored.com/Teams/77/Show/Italy-Lazio', 77, 35, 16,
        7, 12, 50, 39, 11, 55, '08-05-2019'], dtype=object),
 271: array([13481, 'Italy - Serie A', datetime.date(2019, 5, 8), 9,
        'Sampdoria',
        'https://www.whoscored.com/Teams/271/Show/Italy-Sampdoria', 271,
        35, 14, 7, 14, 57, 49, 8, 49, '08-05-2019'], dtype=object),
 2889: array([13482, 'Italy - Serie A', datetime.date(2019, 5, 8), 10,
        'Sassuolo',
        'https://www.whoscored.com/Teams/2889/Show/Italy-Sassuolo', 2889,
        35, 9, 15, 11, 50, 54, -4, 42, '08-05-2019'], dtype=object),
 1502: array([13483, 'Italy - Serie A', datetime.date(2019, 5, 8), 11,
        'SPAL 2013',
        'https://www.whoscored.com/Teams/1502/Show/Italy-SPAL-2013', 1502,
        35, 11, 9, 15, 39, 48, -9, 42, '08-05-2019'], dtype=object),
 78: array([13484, 'Italy - Serie A', datetime.date(2019, 5, 8), 12,
        'Cagliari',
        'https://www.whoscored.com/Teams/78/Show/Italy-Cagliari', 78, 35,
        10, 10, 15, 33, 49, -16, 40, '08-05-2019'], dtype=object),
 73: array([13485, 'Italy - Serie A', datetime.date(2019, 5, 8), 13,
        'Fiorentina',
        'https://www.whoscored.com/Teams/73/Show/Italy-Fiorentina', 73, 35,
        8, 16, 11, 47, 43, 4, 40, '08-05-2019'], dtype=object),
 24341: array([13486, 'Italy - Serie A', datetime.date(2019, 5, 8), 14,
        'Parma Calcio 1913',
        'https://www.whoscored.com/Teams/24341/Show/Italy-Parma-Calcio-1913',
        24341, 35, 9, 11, 15, 38, 55, -17, 38, '08-05-2019'], dtype=object),
 71: array([13487, 'Italy - Serie A', datetime.date(2019, 5, 8), 15, 'Bologna',
        'https://www.whoscored.com/Teams/71/Show/Italy-Bologna', 71, 35, 9,
        10, 16, 38, 50, -12, 37, '08-05-2019'], dtype=object),
 278: array([13488, 'Italy - Serie A', datetime.date(2019, 5, 8), 16, 'Genoa',
        'https://www.whoscored.com/Teams/278/Show/Italy-Genoa', 278, 35, 8,
        12, 15, 37, 54, -17, 36, '08-05-2019'], dtype=object),
 86: array([13489, 'Italy - Serie A', datetime.date(2019, 5, 8), 17, 'Udinese',
        'https://www.whoscored.com/Teams/86/Show/Italy-Udinese', 86, 35, 8,
        10, 17, 31, 49, -18, 34, '08-05-2019'], dtype=object),
 272: array([13490, 'Italy - Serie A', datetime.date(2019, 5, 8), 18, 'Empoli',
        'https://www.whoscored.com/Teams/272/Show/Italy-Empoli', 272, 35,
        8, 8, 19, 44, 66, -22, 32, '08-05-2019'], dtype=object),
 2732: array([13491, 'Italy - Serie A', datetime.date(2019, 5, 8), 19,
        'Frosinone',
        'https://www.whoscored.com/Teams/2732/Show/Italy-Frosinone', 2732,
        35, 5, 9, 21, 28, 64, -36, 24, '08-05-2019'], dtype=object),
 267: array([13492, 'Italy - Serie A', datetime.date(2019, 5, 8), 20, 'Chievo',
        'https://www.whoscored.com/Teams/267/Show/Italy-Chievo', 267, 35,
        2, 12, 21, 25, 73, -48, 15, '08-05-2019'], dtype=object)}